POSTGRES_USER=olim
POSTGRES_PASSWORD=olimpass
POSTGRES_DB=olimqa
SECRET_KEY=changeme_super_secret_key_32chars_abc
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=30
VITE_API_URL=localhost:8000
CORS_ORIGINS=http://localhost:5173